<%- include('../partials/header') %>

        <section class="section">
            <div class="container mt-4">
                <div class="row row-cols-1 row-cols-md-6  g-4">
                    <% data.forEach(actors=> { %>
                        <div class="col">
                            <div class="card h-100">
                                <a href="/singleActor/<%= actors.actors_id %>">  
                                    <img src="/image/imgActors/<%= actors.ImagePath %>" alt="actor img"
                                    class="card-img-top img-fluid"/>
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <h4 style="font-size:medium;">
                                        <%= actors.fName%>
                                        <%= actors.lName%>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </section>

<%- include('../partials/footer') %>