<%- include('../partials/header') %>

    <main class="main" id="main">

        <section class="section" id="movieSection">
            <div class="container d-flex ">
                <div class="row  g-4">
                    <% data.forEach(actors=> { %>
                       
                            <div class="card flex-1 col-2 ">
                                <img src="/image/imgActors/<%= actors.ImagePath %>" alt="actor img"
                                    class="imgActor img-fluid" />
                                <div class="card-body">
                                    <h3 class="name">
                                        <%= actors.fName%>
                                        <%= actors.lName%>
                                    </h>    
                                    <p>   
                                        <%= actors.character %>
                                    </p>
                                    <a href=""
                                </div>
                            </div>
                        
                    <%})%>
                </div>
            </div>
        </section>

    </main>
    <%- include('../partials/footer') %>