<%- include('../partials/header') %> 

<main class="main" id="main">

<section class="section">
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p><%= data.fName %> <%= data.lName %></p>
                        <p><%= data.programs %></p>
                        <p><%= data.character %></p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>             

</main>
<%- include('../partials/footer') %> 