<%- include('../partials/header') %>

        <section class="section">
            <div class="MyInfo d-flex justify-content-center"> 
                <p style="margin:2em 2em;">IMDb Name Search: <a href= "https://www.imdb.com/search/name/">  HERE</a>
                <p style="margin:2em 2em;">Sagaftra iActor: <a href="https://www.sagaftra.org/actor-career-focus-sag-aftra-foundation">  HERE</a></p>
                <p style="margin:2em 2em;">Fandango: <a href="https://www.fandango.com/famous-actors-and-actresses">  HERE</a></p>
                <p style="margin:2em 2em;">Actors Access: <a href= "https://actorsaccess.com/">  HERE</a></p>
            </div>
            <div class="box">
                <p class="box text-center">Actors Who Directed Their Own Program<a href="/actorsWhoDirect">  HERE</a></p>
                <p class="box text-center">Actors Whose Program Got Five Star Programs<a href="/actorsWithfiveStars">  HERE</a></p>
            </div>
        
            <div class="container mt-4">
                <div class="row row-cols-1 row-cols-md-6  g-4">
                    <%= counter = 0; %>
                    <% data.forEach(actors=> { %>
                        <div class="col">
                            <div class="card h-100">
                                <a href="/actors/<%= actors.actors_id %>">  
                                    <img src="/image/imgActors/<%= actors.ImagePath %>" alt="actor img"
                                    class="card-img-top img-fluid"/>
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <h4 style="font-size:1em;">
                                        <%= actors.fName%>
                                        <%= actors.lName%>
                                        Actor <%= ++counter %>: <%= actors.lName %>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>    
        </section>

<%- include('../partials/footer') %>