<%- include('../partials/header') %>

    <main class="main" id="main">

        <section class="section" id="movieSection">
            <div class="container">
                <div class="row d-flex >
                    <div col-2 g-2 m-4>
                        <a href="singleDirector/<%= directors.directors_id %>"><img src="/image/imgDirectors/<%=directors.ImagePath %>"> alt="director img" class="
                    img-fluid"/></a>
                    <div class="card-body">
                        <h2 class="name">
                            <%= directors.fName%>
                            <%= directors.lName%>
                        </h2>
                    </div>
                </div>
            </div>
            </div>
        </section>

    </main>
    <%- include('../partials/footer') %>