<%- include('../partials/header') %> 

<main class="main" id="main">

<section class="section">
    <div class="container mt-4">
        <div class="row text-center">
        <div class="col box">
        <h2>< name %></h2>    
        <p><%= genre.genre %></p>
        <p><%= programs.title %></p> 
        <p><%= programs.description %></p>   
        </div>  
        </div>
    </div>
</section>             
</main>
<%- include('../partials/footer') %> 