<%- include('../partials/header') %>

  <main class="main" id="main">
    <div class="box text-center">
      <p>Description By Genre<a href="/genre_description">  HERE</a></p>
      <p>Animation By Genre<a href="/genre_animation">  HERE</a></p>
      <p>Categories of Genres Information<a href="/genrecategories">  HERE</a></p>
    </div>
    <div>
      <h2 class="text-center">
        <%= name %>
      </h2>
    </div>
    <div class="container">
      <div class="row">
        <h3>Click below to get individualized queries!</h3>
        <p><% counter = 0; %></p>
        <% data.forEach(item=> { %>
          <div class="box col-md-2">
            <p> 
              <a href="/singleGenre/<%= item.genre_id %>">&#10003 <%= ++counter %> <%= item.genre %>
              </a>
            </p>
          </div>
          <% }) %>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>