<%- include('../partials/header') %>

    <main class="main" id="main">

        <section class="section">
            <div class="container mt-4">
                <h1 class="text-center">
                    <%= name %>
                </h1>
                <div class="row text-center">
                    <% data.forEach(item=> { %>
                        <div class=" box col-4">
                            <h4>
                                <%= item.genre %>
                            </h4>
                            <p>
                                <%= item.title %>
                            </p>
                            <p>
                                <%= item.description %>
                            </p>
                        </div>
                        <% }) %>
                </div>
            </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>