<%- include('../partials/header') %> 

<main class="main" id="main">

<section class="section">
    <div class="container mt-4">
        <div class="row text-center">
        <div class="col box">
        <% data.forEach(item => { %>
        <h2>< name %></h2>    
        <p><%= item.genre %></p>
        <p><%= item.title %></p> 
        <p><%= item.description %></p>   
        </div>  
        </div>
        <% }) %>
    </div>
</section>             
</main>
<%- include('../partials/footer') %> 