<%- include('../partials/header') %> 
<main class="main" id="main">
    <div class="container mt-4">
    <h1 class="text-center"><%=  name %></h1>
        <div class="row text-center">
                <% data.forEach(item => { %>
                    <div class=" box col-3">
                        <p><%= item.genre %></p>
                        <p><%= item.title %></p>
                        <p><%= item.yr_released %></p>
                        <p><%= item.rating %></p>
                    </div>
                <% }) %>
        </div>
    </div>

</main>

<%- include('../partials/footer') %> 