
<%- include('../partials/header') %> 

<main class="main" id="main">
    <h2 class="text-center">PRODUCTION COMPANIES</h2>
    <!-- <% let counter = 0 %> -->
  <div class="container">
    <div class='row'>
      <% data.forEach(item=> { %>
        <div class="box col-md-2"> 
      <!-- <% ++counter = item.productionCo %>  -->
        <div class="box"> 
        col-md-2>
        <p class="box">&#10003<a href="/singleStreaming/<%= item.streaming_id %>"><%= item.ProductionCo %></a></p>
        </div>
        <% }) %>
        <p><%= item.productionCo_id %></p>  
      <% }) %>
      </div>
    </div>
  </div>
    
</main>


<%- include('../partials/footer') %> 