<%- include('../partials/header') %> 
<main class="main" id="main">
    <div class="container mt-4">
    <h1 class="text-center"><%=  name %></h1>
        <div class="row text-center">
                
                    <div class="box col-3">
                        <p><%= data.productionCo %></p>
                        <p><%= data.title %></p>
                        <p><%= data.fivePointRating %></p>
                    </div>
                
        </div>
    </div>

</main>

<%- include('../partials/footer') %> 