<%- include('../partials/header') %>

  <main class="main" id="main">
    <div class="box text-center">
      <p>Directors By Genre<a href="/genre_director">  HERE</a></p>
      <p>Animation By Genre<a href="/genre_animation">  HERE</a></p>
      <p>Categories of Genres Information<a href="/genrecategories">  HERE</a></p>
    </div>
    <h2 class="text-center">
      <%= name %>
    </h2>
    <% let counter = 0 %>
    <div class="container">
      <div class='row'>
        <% data.forEach(item=> { %>
          <div class="box col-md-2">
            <p><a href="/singleProductionCo/<%= item.productionCo_id %>">&#10003 <%= ++counter %> <%= item.productionCo %>
            </a></p>
          </div>
        <% }) %>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>