<%- include('../partials/header') %> 
<main class="main text-center" id="main">
  <h1 class="text-center">Actors for This Program</h1>
  <p><%= programs[0].title %></p>
  <% programs.forEach(program => {%>
    <p><%= program.actors %></p>
    <p><%= program.character %></p> 
 <% }) %>  
  
</main>

<%- include('../partials/header') %>