<%- include('../partials/header') %>

    <section class="section" id="section">
        <div class="container">
            <div class="row  id=" programRow">
                <div class="col-4"></div>
                <div class="col-4 item-center">
                    <div class="card">
                        <img src="/image/imgPosters/<%= programs.PosterURL %>" alt="poster for the Program img"
                            class="image img-fluid" />
                        <div class="card-body">
                            <h2 class="Title">
                                <%= programs.title %>
                            </h2>
                            <p class="card-text" id="yrReleased">
                                <%= programs.yr_released %>
                            </p>
                        </div>
                    </div>
                    <div class="container d-flex flex-row">
                        <div class="info">
                            <h5>Program Information:</h5>
                            <ul class="list-style:none">
                                <li>Rating: <%= programs.rating %>
                                </li>
                                <li>Runtime: <%= programs.runtime %>
                                </li>
                                <li>Budget: <%= programs.budget %>
                                </li>
                                <li>GrossProfit: <%= programs.grossProfit %>
                                </li>
                                <li>Showing: <%= programs.showing %>
                                </li>
                                <li>Five Point Rank: <%= programs.fivePointRating %>
                                </li>
                            </ul>
                        </div>
                        <!-- <div progExpand>
                           
                            <p>For Directors Click<a href="http:localhost:3000/api/programs/with_directors">HERE</a></p>
                            <p>For Production Company Click<a
                                    href="http:localhost:3000/api/programs/with_productionCo">HERE</a></p>
                            <p>For Streaming Platforms Click<a
                                    href="http:localhost:3000/api/programs/with_streaming">HERE</a></p>
                            <p>For Genres Click<a href="http:localhost:3000/api/programs/with_genre">HERE</a></p>
                        </div> -->
                    </div>
            </div>
    </section>
    <%- include('../partials/footer') %>