<%- include('../partials/header') %> 

<main class="main" id="main">

<section class="section" id="movieSection">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4" id="programRow">
                     <% data.actors => { %>
                       <div class="col">
                        <div class="card">
                            <img src="/image/imgActors/<%= actors.ImagePath %>" alt="actor img" class="imgActor img-fluid"/>
                            <div class="card-body">
                                    <h2 class="name"><%= actors.fName%><%= actors.lName%></h2>
                            </div>
                            <a href="/infoPage/<%= actors.actors_id%>"><img src="/image/imgActor/<%= actors.ImagePath %> alt="image of actor" class="img-fluid/>"</a>
                        </div>
                    </div>
                </div>
            <%})%>
            </div>
</section>             
             
</main>
<%- include('../partials/footer') %> 