<%- include('../partials/header') %>
    <section class="section" id="section">
        <div class="container text-center">
            <h1><%= name %></h1>
            <p class="sp"><%= data.streaming %></p>
           
            <div>       
                <p class="atag">Rating and Description By Streaming Platform:
                    <a href="/streaming_rating/<%= data.streaming_id %>">  HERE</a>
                </p>
                <p class="atag">Programs By Streaming:
                    <a href="/streaming_programs/<%= data.streaming_id %>">  HERE</a>
                </p>   
            </div>
           
        </div>
    </section>
<%- include('../partials/footer') %> 