<%- include('../partials/header') %> 

<section class="section" id="movieSection">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4" id="programRow">
                     <% data.programs=> { %>
                       <div class="col">
                        <div class="card">
                            <img src="/image/imgPosters/<%= programs.PosterURL %>" alt="poster for the Program img" class="img-fluid"/>
                            <div class="card-body">
                                    <h2 class="Title"><%= programs.title %></h2>
                                <p class=""><%= programs.description %></p>
                                <p class="card-text" id="yrReleased"><%= programs.yr_released %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <%})%>
            </div>
</section>             
<%- include('../partials/footer') %>             