<%- include('../partials/header') %>

    <section class="section" id="section">
        <div class="container">
            <div class="row item-center">
                <div class="col-4">
                    <div class="card item-center">
                        <img src="/image/imgPosters/<%= programs.PosterURL %>" alt="poster for the Program img"
                            class="image img-fluid" />
                        <div class="card-body">
                            <h2 class="Title">
                                <%= programs.title %>
                            </h2>
                            <p class="card-text" id="yrReleased">
                                <%= programs.yr_released %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info">
                        <h5>Program Information</h5>
                        <ul class="list-style:none">
                            <li>Rating: <%= programs.rating %>
                            </li>
                            <li>Runtime: <%= programs.runtime %>
                            </li>
                            <li>Budget: <%= programs.budget %>
                            </li>
                            <li>GrossProfit: <%= programs.grossProfit %>
                            </li>
                            <li>Showing: <%= programs.showing %>
                            </li>
                            <li>Five Point Rank: <%= programs.fivePointRating %>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <h5 class="text-center">More Information</h5>
                    <p>For Actors :
                        <a href="/Prog-Act/<%= programs.programs_id %>">  HERE </a>
                    </p>
                    <p>For Directors :
                        <a href="/Prog-Dir/<%= programs.programs_id %>">  HERE </a>
                    </p>
                    <p>For Production Company :
                        <a href="/Prog-PCo/<%= programs.programs_id %>">  HERE </a>
                    </p> 
                    
                    <p>For Streaming Platforms 
                        :<a href="/Prog-Streaming/<%= programs.programs_id %>">  HERE </a>
                    </p>
                    <p>For Genres :
                        <a href="/Prog-genre/<%= programs.programs_id %>"> HERE </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %> 