<%- include('../partials/header') %>
<main class="main">
    <section class="section" id="section">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card" >
                        <img src="/image/imgDirectors/<%= directors.ImagePath %>" alt="image of director" class=" card-img-top  img-fluid"/>
                        <div class="card-body">
                            <h2 class="Title">
                                <%= directors.fName %>
                                <%= directors.lName %>
                            </h2>
                            <p>Programs By This Director:
                                <a href="/directors/programs/<%= directors.directors_id %>">  HERE</a>
                            </p>
                        </div>
                    </div>
                </div>
    </section>
</main>
    <%- include('../partials/footer') %> 