

<%- include('../partials/header') %> 

<main class="main" id="main">
  <!-- <div class="box text-center">
    <p> By Streaming<a href="http://localhost:3000/api/streaming/get_">  HERE</a></p>
    <p> By Streaming<a href="http://localhost:3000/api/streaming/get_">  HERE</a></p>
  </div> -->
  <h2 class="text-center"><%= name %></h2>
  <div class="container">
    <div class="row">
      <% data.forEach(item => { %>
        <div class="box col-md-2">
        <p class="box">&#10003<a href="/singleStreaming/<%= item.streaming_id %>"><%= item.streaming %></a></p>
        </div>
      <% }) %>
    </div>
  </div>
</main>


<%- include('../partials/footer') %> 