<%- include('../partials/header') %>

  <main class="main" id="main">
    <!-- <div class="box text-center">
    <p> By Streaming<a href="http://localhost:3000/api/streaming/get_">  HERE</a></p>
    <p> By Streaming<a href="http://localhost:3000/api/streaming/get_">  HERE</a></p>
  </div> -->
    <h2 class="text-center">
      <%= name %>
    </h2>
    <div class="container">
      <div class="row">
        <p><% counter = 0; %></p>
        <% data.forEach(item=> { %>
          <div class="box col-md-2">
            <p><a href="/singleStreaming/<%= item.streaming_id %>">&#10003 <%= ++counter %> <%= item.streaming %>
            </a></p>
          </div>
          <% }) %>
      </div>
    </div>
  </main>


  <%- include('../partials/footer') %>